body {
    display: flex;
    flex-direction: column;
    background-image: url("nature_background.jpg");
    background-size: 100vw 100vh;
    font-family: 'Lexend';

} 

.container {
    opacity: 0.9;
    margin-left: auto;
    margin-right: auto;
    height: 500px;
    width: 400px;
    margin-top: 50px;
    margin-bottom: 20px;
    border-radius: 2;
    display: flex;
    padding: 1em;
    border-radius: 1cm;
    background-image: linear-gradient(to bottom right, rgb(19, 68, 215), rgb(184, 201, 226));
}

.leftcont {
    background-color: rgba(9, 18, 30, 0.779);
    flex: 2;
    border-radius: 1cm;
    align-items: center;
    justify-content: center;  
}

.rightcont {
    flex:1;
    border-radius: 1cm;  
}

.top_items {
    margin-left: 20px;
    margin-top: 20px;
    height: 100px;
    width: 225px;
    background-color: rgba(237, 243, 249, 0.198);
    border-radius: 0.5cm;
}

.mid_items{
    display: flex;
}

.humidity{
    margin-left: 20px;
    margin-top: 20px;
    height: 100px;
    width: 102px;
    background-color: rgba(237, 243, 249, 0.198);
    border-radius: 0.5cm;
}

.wind{
    margin-left: 20px;
    margin-top: 20px;
    height: 100px;
    width: 102px;
    background-color: rgba(237, 243, 249, 0.198);
    border-radius: 0.5cm;
}


.info{
    display: flex;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    background-color: rgba(237, 243, 249, 0.198);
    height: 40px;
    padding: 4px 4px;
    padding-left: 6px;
    gap: 3px;
}

#city{
    display: flex;
    outline: none;
    background: transparent;
    border: none;
    width: 200px;
    color: rgb(128, 128, 128);
    font-weight: bold;
    font-size: large;
    
}

#search{
    background-color: rgba(237, 243, 249, 0.198);
    border: 0;
    height: 38px;
    width:35px;
    border-radius: 10px;
    cursor: pointer;
    color: rgb(212, 202, 202);
}

#searchbtn{
    color: rgb(212, 202, 202);
    /* background-color: rgba(9, 18, 30, 0.779); */
    transform: translateX(-220px);
    border-radius: 10px;
    size:5cm;
}

.search-icon {
    display: inline-flex;
    justify-content: center;
    align-content: center;
    height: 33px;
    width: 38px;
    color: white;
    background-color: grey;
    border-radius: 25px;
    line-height: 0; /* Reset line height for precise centering */
    vertical-align: middle; /* Align icon vertically */
    text-align: center; /* Align text inside the element */
}

